fastapi[standard]==0.118.0
structlog==25.4.0
python-multipart==0.0.20
python-dotenv==1.1.1
Pillow==11.3.0
numpy==2.2.6
onnxruntime==1.22.1
tiktoken==0.11.0
aiokafka==0.12.0
huggingface-hub==0.35.0
uvicorn==0.36.0
gunicorn==23.0.0
httptools==0.6.4
websockets==15.0.1
watchfiles==1.1.0
pytest==8.4.2
flake8==7.3.0
autopep8==2.3.2
httpx==0.28.1
pydantic-settings==2.10.1
cachetools==6.2.0
redis==6.4.0
fastapi-limiter==0.1.6
prometheus-client==0.23.1
